
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container">
    <br/><br/>
    <table class="table table-bordered">
        <tr>
            <th># </th>
            <th>ürün Adı</th>
            <th>Eski Fiyat</th>
            <th>Yeni Fiyat</th>
            <th>Durum</th>
            <th>Sil</th>
            <th>Güncelle</th>
       </tr>
       @foreach(var item in Model)
       {
           <tr>
               <td>@item.ProductId</td>
               <td>@item.Name</td>
               <td>@item.OldPrice</td>
               <td>@item.NewPrice</td>
                <td>
                @if(   @item.Status==true)
                {
                     <span class="bg-success p-1 text-white">Aktif</span>

                }
                else
                {
                     <span class="bg-danger p-1  text-white">Pasif</span>

                }
                    </td>
                <td><a href="/Product/DeleteProduct/@item.ProductId" class="btn btn-danger">Sil</a></td>
                <td><a href="/product/UpdateProduct/@item.ProductId" class="btn btn-danger">Güncelle</a></td>
           </tr>
       }
       </table>
       <a href="#" class="btn btn ">Yeni Ekle</a>